*{
  padding: 0px;
  margin: 0px;
}


.header{
  background-color: green;
  width: 100%;
  text-align: center;
  

}
.headerh1{
  padding:10px;
  font-family:'Audiowide';
}
.section{
  background-color:rgb(181, 227, 190);
  margin-top: 20px;
  margin-bottom: 20px;
 border-radius: 30px 30px 30px 30px ;
  width: 250px;
  height:max-content;
margin-left: 95px;
display:inline-flex;
box-shadow:outset;
overflow: hidden;
}

.fig img{
width: 250px;
height: 150px;
border-radius: 20px 20px 0px 0px ;


}
.figcap{
text-align:center;
}

.button{
text-align: center;
margin-left: 79px;
margin-bottom: 10px;
font-family:arial;
padding: 2px;
}
.sec{
background-color:rgb(244, 239, 239);
box-shadow:0px 0px 5px 5px rgba(0.5,0,0,0.25);
border-radius: 5px;
width: 100%;
height:max-content;
margin-top: 20px;




}
.h1{color: rgb(0, 0, 0);
  background: linear-gradient(60deg,rgb(6, 75, 6),rgb(255, 255, 255) 100%,rgb(6, 75, 6) 10%);
  margin-left: 1px;
  width: 3px;
  height: max-content;
  padding: 5px;
   }
#figdiv{
display: flex;
}
.a{text-decoration: none;
color: black;

}
.span{
color:green;
}
img:hover{
  width: 280px;
  height: 170px;
  overflow: hidden;
  
}
.section:hover{
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.518);
}